<!DOCTYPE html>
<html lang="en">

<head>
  <title>Partay Tracker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3/dist/confetti.browser.min.js"></script>
  {{!--
  <script src="node_modules/confetti-js/dist/index.min.js"></script> --}}
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#if user}}
        <a class="navbar-brand" style="color: white;" href="/logout">
          Logout
        </a>
        {{/if}}
      </div>
    </div>
  </nav>


  {{{body}}}


  {{!-- footer --}}

  <footer>
    <p>&copy 2021 | Partay Tracker 🎉</p>
  </footer>

  {{!-- Confetti script --}}
  <script>const confButton = document.querySelector(".btn");
    confButton.addEventListener("click", () => {
      confetti();
    }) 
  </script>
</body>

</html>