<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      
       <h1 class="text-center"> 
        <span class="letter">L</span>
        <span class="letter">O</span>
        <span class="letter">G</span>
        <span class="letter">I</span>
        <span class="letter">N</span>
        
        <span></span>
        <span class="letter">F</span>
        <span class="letter">O</span>
        <span class="letter">R</span>
        <span class="letter">M</span>
        <span class="letter">!</span>
      </h1>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
      <br/>
      <p style="color: #ffff;">OR SIGN UP <a href="/">HERE</a></p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/login.js"></script>