<div class="container">
    <div style="margin-top: 100px;" class="jumbotron">
        <h1 id="partay-name" style="font-weight: 900;">{{this.partayData.partay_name}}</h1>
        <h3 id="partay-summary">What is this party about:
            <p>{{this.partayData.partay_summary}}</p>
        </h3>
        <h3 id="partay-date">When is this party:<p>{{this.partayData.partay_date}}</p></h3>
        <h3 id="party-time">What time is this party at:<p>{{this.partayData.partay_time}}</p></h3>
    </div>
</div>
<script type="text/javascript" src="js/home.js"></script>