form.signup,
form.login {
  margin: 50px;
}

.navbar {
  background: transparent;
  border-color: transparent;
  text-shadow: 2px 2px 4px black, 0 0 35px white, 0 0 5px #230b72;
  
}

 a {
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: green;
  /* text-shadow: 1px 1px 2px black, 0 0 25px white; */
}

body {
  background-color: #230b72;
  font-family: 'Ubuntu', sans-serif;
}

.form-group {
  color: #ffff;
}


.letter {
  display: inline-block;
  opacity: 0;
  font-weight: 700;
  color: white;
 
}


.letter-one {
  display: block;
  opacity: 0;
  font-weight: 400;
  margin-left: 100px;
  width: 0px;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px #230b72;
 
}

span {
  display: inline-block;
}

.signup:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 60s linear infinite;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  border-radius: 10px;
}

.signup:active {
  color: #4c16ff
}

.signup:active:after {
  background: transparent;
}

.signup:before {
  opacity: 1;
}

.signup:after {
  z-index: -1;
  /* content: ''; */
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  left: 0;
  top: 0;
  border-radius: 20px;
  animation: glowing 60s linear infinite;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.btn:hover {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding: 20px;
  text-align: center;
  
}


/* create partay */
.partay:before {
  content: '';
  background: linear-gradient(45deg, #ff7300,#fffb00, #48ff00, #00ffd5, #002bff, #7a00ff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 60s linear infinite;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  border-radius: 10px;
}

.partay:active {
  color: #4c16ff
}

.partay:active:after {
  background: transparent;
}

.partay:before {
  opacity: 1;
}

.partay:after {
  z-index: -1;
  /* content: ''; */
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,#ff7300,#fffb00, #48ff00, #00ffd5, #002bff, #7a00ff);
  left: 0;
  top: 0;
  border-radius: 20px;
  animation: glowing 60s linear infinite;
}


/* login */
.login:before {
  content: '';
  background: linear-gradient(45deg, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 60s linear infinite;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  border-radius: 10px;
}

.login:active {
  color: #4c16ff
}

.login:active:after {
  background: transparent;
}

.login:before {
  opacity: 1;
}

.login:after {
  z-index: -1;
  /* content: ''; */
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #002bff, #7a00ff, #ff00c8, #ff0000);
  left: 0;
  top: 0;
  border-radius: 20px;
  animation: glowing 60s linear infinite;
}

/* @media only screen and (min-width: 1365px) {
  .col-md-3 {width: 30%;}
  .col-md-9{width: 76%;}
} */

@media only screen and (max-width: 325px) {
  .col-md-3{width: 10%; display: none ;font-size: 12px;}
  .col-md-9{width: 76%;}
  
}